body {
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-color: #007ACC;
    color: #FFF;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #FFF;
}

section {
    margin: 20px;
    padding: 20px;
}

h2 {
    font-size: 24px;
}

img {
    max-width: 100%;
    height: auto;
}

form {
    position: relative;
    background-color: #bf4040;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

nav a {
    text-decoration: none;
    color: #FFF;
    transition: color 0.3s;
}

nav a:hover {
    color: #FFA500;
}

footer {
    background-color: #333;
    color: #FFF;
    padding: 10px;
    text-align: center;
}


@media screen and (max-width: 480px) {
    header {
        padding: 10px; 
        background-color: #333; 
        color: #FFF; 
    }

    nav ul {
        display: block; 
    }

    section {
        margin: 10px; 
    }
}

/* 768px */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 28px; 
    }

    nav ul {
        justify-content: space-between; 
    }

    img {
        max-width: 80%; 
    }
}

/* 1024px */
@media screen and (max-width: 1024px) {
    form {
        padding: 10px; 
        background-color: #007ACC; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    }

    nav a {
        color: #007ACC; 
    }
}
